oryx-module/oryx-common-module/src/main/resources/schemas/model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:domain="http://domain.ref.ws.oryx.com" xmlns:model="http://model.ref.ws.oryx.com" targetNamespace="http://model.ref.ws.oryx.com" version="1.0">

  <xs:import namespace="http://domain.ref.ws.oryx.com" schemaLocation="domain.xsd"/>

  <xs:complexType name="ErrorMessageVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="messageCode" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="meaning" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TracableCancelableEntityVO">
    <xs:complexContent>
      <xs:extension base="model:CancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="updatedBy" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CancelableEntityVO">
    <xs:complexContent>
      <xs:extension base="model:EntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="canceledBy" type="xs:string"/>
          <xs:element name="checkCancel" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntityVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TranslationVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="bundleOrigin" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="text" type="xs:string"/>
          <xs:element minOccurs="0" name="translation" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AnnexVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="tableCode" type="xs:string"/>
          <xs:element minOccurs="0" name="langage" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="reference" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CodificationVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="serverCode" type="xs:string"/>
          <xs:element minOccurs="0" name="internalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="externalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DomainVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="domainCode" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="reference" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FieldProcessParamVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="processCode" type="xs:string"/>
          <xs:element minOccurs="0" name="fieldCode" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="processRef" type="xs:string"/>
          <xs:element minOccurs="0" name="processType" type="xs:string"/>
          <xs:element minOccurs="0" name="processResult" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MenuVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="taskSet" nillable="true" type="model:TaskVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="taskIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaskVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="permission" type="domain:EnumPermissionVO"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element minOccurs="0" name="menuPath" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ParameterVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
          <xs:element minOccurs="0" name="reference" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RoleInfoVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="menuSet" nillable="true" type="model:MenuVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="menuIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UpgradesVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="upgradeCode" type="xs:string"/>
          <xs:element minOccurs="0" name="softwareVersion" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TracableEntityVO">
    <xs:complexContent>
      <xs:extension base="model:EntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="updatedBy" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SysUserVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCode" type="xs:string"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="userLogin" type="xs:string"/>
          <xs:element minOccurs="0" name="userPassword" type="xs:string"/>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="lastConnection" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="role" type="domain:EnumUserRoleVO"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element minOccurs="0" name="person" type="model:PersonVO"/>
          <xs:element minOccurs="0" name="personId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleSet" nillable="true" type="model:RoleInfoVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PersonVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="defaultUid" type="xs:string"/>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
          <xs:element minOccurs="0" name="defaultPhoneNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="civility" type="domain:EnumCivilityVO"/>
          <xs:element minOccurs="0" name="gender" type="domain:EnumGenderVO"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="birthPlace" type="model:StateVO"/>
          <xs:element minOccurs="0" name="birthPlaceId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="uidSet" nillable="true" type="model:UidVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="uidIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressSet" nillable="true" type="model:AdressVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactSet" nillable="true" type="model:SysContactVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StateVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="countryName" type="xs:string"/>
          <xs:element minOccurs="0" name="country" type="model:CountryVO"/>
          <xs:element minOccurs="0" name="countryId" type="xs:string"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="latitude" type="xs:double"/>
          <xs:element minOccurs="0" name="longitude" type="xs:double"/>
          <xs:element minOccurs="0" name="altitude" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CountryVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="polCapital" type="model:StateVO"/>
          <xs:element minOccurs="0" name="polCapitalId" type="xs:string"/>
          <xs:element minOccurs="0" name="ecoCapital" type="model:StateVO"/>
          <xs:element minOccurs="0" name="ecoCapitalId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UidVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="uidType" type="domain:EnumUIDVO"/>
          <xs:element minOccurs="0" name="uid" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AdressVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="country" type="model:CountryVO"/>
          <xs:element minOccurs="0" name="countryId" type="xs:string"/>
          <xs:element minOccurs="0" name="state" type="model:StateVO"/>
          <xs:element minOccurs="0" name="stateId" type="xs:string"/>
          <xs:element minOccurs="0" name="street" type="xs:string"/>
          <xs:element name="latitude" type="xs:double"/>
          <xs:element name="longitude" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SysContactVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactType" type="domain:EnumContactVO"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ThirdPartyVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="reference" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="defaultPhoneNumber" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressSet" nillable="true" type="model:AdressVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactSet" nillable="true" type="model:SysContactVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
