oryx-module/oryx-bu-sale-module/src/main/resources/schemas/model.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:domain="http://domain.ref.ws.oryx.com" xmlns:model="http://model.ref.ws.oryx.com" targetNamespace="http://model.ref.ws.oryx.com" version="1.0">

  <xs:import namespace="http://domain.ref.ws.oryx.com" schemaLocation="domain.xsd"/>

  <xs:complexType name="BrandVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="brandCode" type="xs:string"/>
          <xs:element minOccurs="0" name="brandName" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TracableCancelableEntityVO">
    <xs:complexContent>
      <xs:extension base="model:CancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="createdBy" type="xs:string"/>
          <xs:element minOccurs="0" name="updateDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="updatedBy" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CancelableEntityVO">
    <xs:complexContent>
      <xs:extension base="model:EntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="canceledBy" type="xs:string"/>
          <xs:element name="checkCancel" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="EntityVO">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CartVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cartCode" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumCartStatusVO"/>
          <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="settlementDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="grossAmmount" type="xs:double"/>
          <xs:element minOccurs="0" name="tax" type="xs:double"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="cartItemSet" nillable="true" type="model:CartItemVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="cartItemIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CartItemVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="product" type="model:ProductVO"/>
          <xs:element minOccurs="0" name="productId" type="xs:string"/>
          <xs:element minOccurs="0" name="quantity" type="xs:double"/>
          <xs:element minOccurs="0" name="unitPrice" type="xs:double"/>
          <xs:element minOccurs="0" name="discount" type="xs:double"/>
          <xs:element minOccurs="0" name="tax" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProductVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="productCode" type="xs:string"/>
          <xs:element minOccurs="0" name="productName" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="category" type="model:ProductCategoryVO"/>
          <xs:element minOccurs="0" name="categoryId" type="xs:string"/>
          <xs:element minOccurs="0" name="brand" type="model:BrandVO"/>
          <xs:element minOccurs="0" name="brandId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ProductCategoryVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoryCode" type="xs:string"/>
          <xs:element minOccurs="0" name="categoryName" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ShopperVO">
    <xs:annotation>
      <xs:documentation><![CDATA[Created by 241180 on 09/01/2017.]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="shopperCode" type="xs:string"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="person" type="model:PersonVO"/>
          <xs:element minOccurs="0" name="personId" type="xs:string"/>
          <xs:element minOccurs="0" name="user" type="model:SysUserVO"/>
          <xs:element minOccurs="0" name="userId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PersonVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="defaultUid" type="xs:string"/>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
          <xs:element minOccurs="0" name="defaultPhoneNumber" type="xs:string"/>
          <xs:element minOccurs="0" name="civility" type="domain:EnumCivilityVO"/>
          <xs:element minOccurs="0" name="gender" type="domain:EnumGenderVO"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="birthDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="birthPlace" type="model:StateVO"/>
          <xs:element minOccurs="0" name="birthPlaceId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="uidSet" nillable="true" type="model:UidVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="uidIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressSet" nillable="true" type="model:AdressVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="adressIds" nillable="true" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactSet" nillable="true" type="model:SysContactVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="contactIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="StateVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="countryName" type="xs:string"/>
          <xs:element minOccurs="0" name="country" type="model:CountryVO"/>
          <xs:element minOccurs="0" name="countryId" type="xs:string"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="latitude" type="xs:double"/>
          <xs:element minOccurs="0" name="longitude" type="xs:double"/>
          <xs:element minOccurs="0" name="altitude" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CountryVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
          <xs:element minOccurs="0" name="language" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="polCapital" type="model:StateVO"/>
          <xs:element minOccurs="0" name="polCapitalId" type="xs:string"/>
          <xs:element minOccurs="0" name="ecoCapital" type="model:StateVO"/>
          <xs:element minOccurs="0" name="ecoCapitalId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UidVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="uidType" type="domain:EnumUIDVO"/>
          <xs:element minOccurs="0" name="uid" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AdressVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="country" type="model:CountryVO"/>
          <xs:element minOccurs="0" name="countryId" type="xs:string"/>
          <xs:element minOccurs="0" name="state" type="model:StateVO"/>
          <xs:element minOccurs="0" name="stateId" type="xs:string"/>
          <xs:element minOccurs="0" name="street" type="xs:string"/>
          <xs:element name="latitude" type="xs:double"/>
          <xs:element name="longitude" type="xs:double"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SysContactVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="contactType" type="domain:EnumContactVO"/>
          <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SysUserVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="userCode" type="xs:string"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="userLogin" type="xs:string"/>
          <xs:element minOccurs="0" name="userPassword" type="xs:string"/>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="language" type="domain:EnumLanguageVO"/>
          <xs:element minOccurs="0" name="lastConnection" type="xs:dateTime"/>
          <xs:element minOccurs="0" name="role" type="domain:EnumUserRoleVO"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element minOccurs="0" name="person" type="model:PersonVO"/>
          <xs:element minOccurs="0" name="personId" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleSet" nillable="true" type="model:RoleInfoVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="roleIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RoleInfoVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="menuSet" nillable="true" type="model:MenuVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="menuIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="MenuVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="taskSet" nillable="true" type="model:TaskVO"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="taskIds" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="TaskVO">
    <xs:complexContent>
      <xs:extension base="model:TracableCancelableEntityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="permission" type="domain:EnumPermissionVO"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="domain:EnumStatusVO"/>
          <xs:element minOccurs="0" name="menuPath" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
